@model IEnumerable<CSC_205_Hepner.Models.Person>
@{
    ViewBag.Title = "Home Page";

}


<h1>People Index.</h1>
<br />
<table class="datatable">
    <tbody>
        <tr>
            <td>
                First Name
            </td>
            <td>
                Middle Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Cell
            </td>
            <td>
                Relationship
            </td>
            <td>
                Options
            </td>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.middlename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.relationship)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.familyId)
                    </td>*@
                <td class="options">
                    @Html.ActionLink("Edit", "edit", new { id = item.id })&nbsp;<br />
                    @Html.ActionLink("Details", "details", new { id = item.id })&nbsp;<br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <script type="text/javascript">
                                function SubmitForm() {

                                    var r = confirm("Please confirm.");
                                    if (r == false) {
                                        return false;
                                    }
                                }</script>
                            <div onclick="javacsript: return SubmitForm();">
                                @Html.ActionLink("Delete", "delete", new { id = item.id })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Click here to add a new member", "Create")
    <br />
    <br />
    <br />
</p>
