@model IEnumerable<CSC_205_Hepner.Models.Family>
@{
    ViewBag.Title = "Customers Index";

}

<h1>Customer License Index.</h1>
<br />
<a onclick="location.href='/Person/index'" class="button">Private Members Page</a></>
<hr />
<table class="datatable">
    <tbody>
        <tr>
            <td>
                Family Name
            </td>
            <td>
                Address
            </td>
            <td>
                City
            </td>
            <td>
                State
            </td>
            <td>
                Zip
            </td>
            <td>
                Phone
            </td>
            <td>
                Options
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.familyname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.homephone)
                </td>
                <td class="options">
                    @Html.ActionLink("Edit", "edit", new { id = item.id })&nbsp;<br />
                    @Html.ActionLink("Details", "details", new { id = item.id })&nbsp;<br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <script type="text/javascript">
                                function SubmitForm() {

                                    var r = confirm("Please confirm.");
                                    if (r == false) {
                                        return false;
                                    }
                                }</script>
                            <div onclick="javacsript: return SubmitForm();">
                                @Html.ActionLink("Delete", "delete", new { id = item.id })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Click here to add a new member", "Create")
    <br />
    <br />
    <br />
</p>